* {
    padding: 0; /* Remove o padding (espaçamento interno) de todos os elementos */
    margin: 0; /* Remove a margem (espaçamento externo) de todos os elementos */
}

html,
body {
    height: 100%; /* Define a altura de 'html' e 'body' como 100% da altura da janela do navegador */
}

.pai {
    width: 1280px; /* Define a largura da div 'pai' para 1280 pixels */
    padding: 20px 0; /* Aplica 20px de padding (espaçamento interno) acima e abaixo da div 'pai', sem espaçamento lateral */
    margin: 20px auto; /* Aplica 20px de margem acima e abaixo da div 'pai', e 'auto' nas laterais para centralizá-la horizontalmente */
    background: blue; /* Define a cor de fundo da div 'pai' como azul */
}

.filha {
    box-sizing: border-box; /* Inclui o padding e a borda na largura e altura total da div 'filha' */
    width: 640px; /* Define a largura da div 'filha' para 640 pixels */
    height: 300px; /* Define a altura da div 'filha' para 300 pixels */
    background: red; /* Define a cor de fundo da div 'filha' como vermelho */
    float: left; /* Faz com que as divs 'filha' flutuem para a esquerda, permitindo que várias divs fiquem lado a lado */
    text-align: center; /* Centraliza o texto horizontalmente dentro da div 'filha' */
    font-size: 40px; /* Define o tamanho da fonte dentro da div 'filha' para 40 pixels */
    padding: 50px 0; /* Aplica 50px de padding acima e abaixo dentro da div 'filha', sem padding lateral */
    color: white; /* Define a cor do texto dentro da div 'filha' como branco */
    border: 1px solid black; /* Define uma borda preta sólida de 1 pixel ao redor da div 'filha' */
}

.clear {
    clear: both; /* Garante que nenhum elemento flutuante anterior interfira nos próximos elementos, quebrando o fluxo de elementos flutuantes */
}
