*{
	margin: 0;
	padding: 0;
}

/*
*
*
Estilo para o conteúdo do nosso site
*
*
*/

html,body{
	height: 100%; 
}

.box{
	width: 40%;
	/* height por padrão é sempre automático */
	height: 300px;
	color: gray;
}

.box p{
	color: initial ; /* ineherit  herda do box padrão sinza ou outra cor determinada*
	initial configura a cor padrão do site que é preta/
	background-color: inherit; /* ou initital */
}

/*
@media screen and (max-width: 480px){
	.box{
		height: auto;
	}
}
*/