* {
    margin: 0%;
    padding: 0%;
    background-color: grey;
}

.Menu{
    
    text-align: center;/*Alinhamento dos textos*/
    background-color: black;/*cor de fundo*/
    padding: 20px 20px 40px 20px; /*largura das bordas*/
    position: relative; /* Para permitir posicionamento absoluto dentro */
    
}
.Menu > a{
    color: rgb(39, 155, 35);
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    
}

.Menu a.contato {
    color: rgb(202, 8, 8);
    position: absolute; /* Permite posicionamento fora do fluxo normal */
    right: 20px; /* Alinha à direita do contêiner */
    top: 50%; /* Alinha verticalmente no centro */
    transform: translateY(-50%); /* Corrige o alinhamento vertical */
}
