*{
    padding: 0;
    margin: 0;
}

html,body{
    height: 100%;

}

.box{
    width: 100%;
}

.item{
    box-sizing: border-box;
    float: left;
    width: 33.3%;
    height: 400px;
    background-color: brown;
    border: 1px solid black;

}

.box div:last-of-type{
    background-color: blanchedalmond;
}

.box p:last-of-type{
    color:coral

}