#div1 > h1{
    color: blue;
}

/*modificando a cor pela class usa-se o ponto*/
.div2 h1{
    color: green;
}

.div3 h2{

    color: blue;
}

body{
    background: wheat;
}








/*o sinal de > configura apenas a div  com id="div1" filha
se eu quero alterar todos os elementos do h1 basta tirar o sinal de >.

Iportante usar a div sem com class e não com id para evitar conflito.

se quiser modificar a div pela classe basta trocar por um ponto .
*/
