* {
    padding: 0;
    margin: 0;


}

html,body{
    height: 100%;
}

.png{
    background-image: url('img/Imagem\ para\ usar.webp');
    width: 100%;
    margin: 0 auto;
    height: 30vw;
    background-size: cover;
    background-attachment: fixed;
    background-color: chartreuse;
    background-repeat: no-repeat;
    /*
    */
    /*background-position: center;*/

}

.box{
    width: 900px;
    height: 2000px;
    background-color: rgb(100,100,100);
}