 *{
    padding: 0;
    margin: 0;
 }

 html,body{
    height: 100%;

 }
 nav ul {
    list-style-type:circle; /* Remove os marcadores da lista */
    padding: 0; /* Remove o padding padrão */
    margin: 0; /* Remove a margem padrão */
}

nav li {
    display: inline-block; /* Exibe os itens em linha */
    margin-right: 20px; /* Espaçamento entre os itens */
}

nav li:last-child {
    margin-right: 0; /* Remove o espaçamento do último item */
}

nav a {
    text-decoration:solid; 
    color: rgb(14, 9, 9); /* Define a cor do texto */
    padding: 10px 15px; /* Adiciona espaçamento interno aos links */
}

nav a:hover {
    background-color: aqua; /* Cor de fundo ao passar o mouse */
    border-radius: 4px; /* Bordas arredondadas ao passar o mouse */
}

header > h1{
   margin-left: 50%;

}

.div1{
    background-color: aqua;
    border-radius: 4px;
    
}