*{
    margin: 0%;
    padding: 0%;
}

html,body{
    height: 100%;
}

.header{
    margin: 0 auto;
    width: 1280px;
    height: 100px;
    background-color: darkgray;


}

.article{
    margin: 0 auto;
    width: 1280px;
    height: 600px;
    background-color: rgb(216, 210, 210);

}

.Menu >a{
  
    padding: 20px;;
    text-align: center;
    position:relative;
}

.Menu .contato{
    text-align: right;
    color: azure;
    margin: auto;
    text-align: left;
    left: 70%;
}