*{
    padding: 0;
    margin: 0;

}

html,body{
    height: 100%;
}

.center{
    box-sizing: content-box;
    background-color: black;
    width: 1280px;
    margin: 0 auto;

}



.artigo{
    box-sizing: border-box;
    /*border: 20px solid rgba(8, 8, 8,0);*/
    /*
    border-style: dotted;
    border-width: 3px;
    border-color: rgba(red, green, blue, alpha)
    */
    border-left: 3px dotted rgb(194, 187, 201);
    vertical-align: top;
    display: inline-block;
    margin-right: -4px;
    margin-top: 30px;
    width: 640px;
    color: aliceblue;
    
}