*{
    padding: 0;
    margin: 0;
}

html,body{
    height: 100%;
}

ul{
    list-style-position: inside; /*visualiza as bolinhas do lado*/
}

/*Mudando  o elemento li na  posiçao dois*/
ul li:nth-of-type(2){
    color: rgb(168, 168, 32);
}
/*Mudando o elemento span na sexta posição */
ul span:nth-child(6){
    color: blue;
}