*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;

}

input[type=file]{
    display: none;
}

label{
    /*display: inline-block;*/
    display: block;
    margin: 20px;
    cursor: pointer;
    font-size: 17px;
    width: 220px;
    height: 40px;
    background-color: #ccc;
    color: white;
    text-align: center;
    line-height: 40px;

}

form{
    text-align: center;
    background-color: #ccc;
    padding: 30px 0;

}

form select{
    width: 220px;
    height: 30px;
    border: 0;
    appearance: none;
    background-image: url('img/sunset.jpg');
    background-position: 96% 8px;
    background-size: 10px 20%;
    background-repeat: no-repeat;

}

select ::-ms-expand{
    display: none;

}

label{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: green;
}

input[type=checkbox]{
    display: none;
}

input[type=checkbox]:checked + label{
    width: 30px;
    height: 30px;
    background-color: red;
}